<!DOCTYPE html>
<html>
  <head>
    <title>NestedForms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navbar">
    <%= link_to "Home", root_path %>
    <%= link_to "Books", books_path %>
    <%= link_to "+ Book", new_book_path %>
  </div> 

    <%= yield %>
  </body>
</html>
